<html>

<head>

    <link rel="stylesheet" href="/css/modules/index.css">
    <title>文章编辑</title>
    <link rel="stylesheet" href="/css/editormd.min.css">

    <script src="/plugins/switch/index.min.js"></script>

    <script src="/js/echarts.min.js"></script>

    <script src="/plugins/nice-select/js/jquery.nice-select.js"></script>
    <link rel="stylesheet" href="/plugins/nice-select/css/nice-select.css">

    <!-- filepond start -->
    <link rel="stylesheet" href="/plugins/filepond/dist/filepond.min.css">
    <script src="/plugins/filepond/dist/filepond.min.js"></script>
    <script src="/plugins/filepond/filepond.jquery.js"></script>
    <script src="/plugins/filepond/preview/preview.js"></script>
    <link rel="stylesheet" href="/plugins/filepond/preview/preview.css">
    <script src="/plugins/filepond/validate/type.js"></script>
    <script src="/plugins/filepond/validate/size.js"></script>
    <!-- filepond end -->
</head>

<body>
    <section id="container" class="scroll-999">
        <div class="flex justify-between align-center page-title ">
            <h2 class="flex align-center">
                <a id="leftController" class="left-controller ml-5px">
                    <i class="iconfont icon-category"></i>
                </a>
                <a href="/" class="color-fff ml-16px">首页</a>
            </h2>
            <div class="mt-0px mb-0px pd-16px  color-fff ">

                <a href="/manager" class="color-fff font-15px">
                    <i class="iconfont icon-nav_icon_xitongshezhi color-fff"></i>内容管理
                </a>
            </div>
        </div>



        <section id="typeForm" class="dialog">
            <div class="dialog-mask"></div>
            <div class="dialog-content">
                <div class="dialog-header">添加分类</div>
                <div class="dialog-body">

                </div>
            </div>
        </section>

        <section id="typeFormRename" class="dialog">
            <div class="dialog-mask"></div>
            <div class="dialog-content">
                <div class="dialog-header">修改分类名称</div>
                <div class="dialog-body">
                    <!-- <form action="/api/admin/renameType" method="post" enctype="multipart/form-data" class="common-form">
                    <div class="common-form-item">
                        <label for="type">原分类名称</label>
                        <input id="renameOldType" name="type" placeholder="" autocomplete="off" readonly class="common-input">
                    </div>
                    <div class="common-form-item">
                        <label for="newType">新分类名称</label>
                        <input id="newType" name="newType" placeholder="请输入新分类名称" autocomplete="off" class="common-input">
                    </div>
                    <div class="common-btn-group justify-end">
                        <button class="submit common-btn primary" type="submit">提交</button>
                        <button class=" common-btn  cancel" >取消</button>
                    </div>
                </form> -->
                </div>
            </div>
        </section>

        <div class="flex h-100per">
            <section id="typeLeft" class="typeLeft-hidden">

                <script>
                    $("#leftController").on('click', function () {
                        $("#typeLeft").toggleClass("typeLeft-hidden")
                    })
                </script>

                <div class="flex justify-end">
                    <a id="exitTypeLeft">
                        <i class="iconfont icon-exit"></i>
                    </a>
                </div>
                <script>
                    $("#exitTypeLeft").on('click', function () {
                        $("#typeLeft").addClass("typeLeft-hidden")
                    })
                </script>

                <div class="custom-nav">
                    <a href="/" class=" flex justify-center w-100per">
                        <img src="/images/wen.png" alt="" class="w-130px h-130px rd-130px">
                    </a>
                    <a class="add-type flex add-type-top" data-type="">+添加分类</a>
                </div>
                <div class="md-menu">
                </div>
            </section>
            <section id="editRight">
                <div class="dashboard">
                    <div class="dashboard-title">欢迎来到文档管理系统！</div>

                    <div class="w100p dashboard-charts">
                        <div id="typeChart">

                        </div>

                        <div id="tagChart">

                        </div>

                        <div id="createChart">

                        </div>

                        <div id="publishChart">

                        </div>
                    </div>

                </div>

            </section>
        </div>


    </section>


    <script src="/js/jquery_dom.js"></script>

    <script>
        showMessage(`<%- typeof success !== 'undefined' && success %>`, `<%- typeof message !== 'undefined' && message %>`)
    </script>


    <script>
        $("#typeFormRename .dialog-mask").click(function (ev) {
            ev.preventDefault()
            ev.stopPropagation()
            $("#typeFormRename").toggle()
        })
        $("#typeFormRename .cancel").click(function (ev) {
            ev.preventDefault()
            ev.stopPropagation()
            $("#typeFormRename").toggle()
        })
        $("#typeForm .dialog-mask").click(function (ev) {
            ev.preventDefault()
            ev.stopPropagation()
            $("#typeForm").toggle()
        })
        $(document).click(function (ev) {
            // 如果点击区域不在下拉框内，则隐藏下拉框
            if (!$(ev.target).closest(".drop-container").length) {
                $(".drop-panel").hide()
            }
        })
        function closeDialog (id) {
            $(`#${id}`).hide()
        }
    </script>



    <script type="module">
        import zh_cn from '/plugins/filepond/locale/zh-cn.js';
        FilePond.setOptions(zh_cn);
    </script>
    <script>
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.registerPlugin(FilePondPluginFileValidateType);


        $(document).ready(function () {
            const pond = FilePond.create($("#bannerInput")[0]);
            pond.setOptions({
                allowMultiple: false,
                storeAsFile: true,
                maxFileSize: '2MB',
            });
            pond.addFile("")
        })

    </script>
</body>

</html>