body {
  overflow: hidden;
}

#app {
  height: 100%;
  min-height: auto !important;
}

#container {
  margin: 0 !important;
  width: 100% !important;
  background: #fff;
  height: 100%;
}

@media (max-width: 48em) {
  .left-controller {
    display: block !important;
    background: rgba(154, 154, 154, 0.3);
    transition: all 0.6s ease-in-out;
    border-radius: 3px;
    color: #fff;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
  }
  .left-controller:hover {
    background: #9a9a9a;
  }
  .left-controller > i {
    font-size: 1.2em;
  }
  #typeLeft {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 13;
    width: 20em;
    height: 100%;
    transition: left 0.3s ease-in-out;
  }
  #typeLeft.typeLeft-hidden {
    left: -100%;
  }
}
.left-controller {
  display: none;
}

#typeLeft {
  flex-shrink: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 20em;
  background: #fff;
  box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.29);
}
#typeLeft #exitTypeLeft {
  width: 100%;
  height: 50px;
  display: none;
  right: 0;
  position: relative;
  background: #FFF;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
@media (max-width: 48em) {
  #typeLeft #exitTypeLeft {
    display: block;
  }
}
#typeLeft #exitTypeLeft > i {
  font-size: 20px;
  color: #333;
  position: absolute;
  right: 20px;
  transition: all 0.5s ease-in-out;
}
#typeLeft #exitTypeLeft:hover {
  background: #f2f2f2;
}
#typeLeft #exitTypeLeft:hover > i {
  color: #000;
  font-weight: bold;
  right: 50%;
}
#typeLeft .custom-nav > a {
  width: 100%;
  color: #333;
  padding: 0.9em 0.3em;
  cursor: pointer;
}
#typeLeft .custom-nav > a:hover {
  background: #f2f2f2;
}
#typeLeft .md-menu .root ul {
  margin: 0 !important;
}
#typeLeft .submenu {
  height: 0;
  overflow: hidden;
}
#typeLeft .submenu.submenu-active {
  height: fit-content;
  background: #e1e1e1;
}
#typeLeft .submenu > ul {
  padding: 0;
}
#typeLeft ul {
  width: 100%;
  box-sizing: border-box;
}
#typeLeft li {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
}
#typeLeft li.active {
  background: #e1e1e1;
}
#typeLeft li:not(.submenu):hover .li-title {
  color: #333 !important;
  font-weight: bold;
}
#typeLeft li.type-li {
  position: relative;
}
#typeLeft li.type-li:hover {
  background: #f2f2f2;
}
#typeLeft li.type-li::before {
  font-family: "iconfont";
  content: "\e975";
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 0.7em;
  margin-right: 0.2em;
  margin-left: 0.5em;
  color: #333;
}
#typeLeft li.type-li.active {
  background: #e1e1e1;
}
#typeLeft li.type-li.active > a {
  color: #333;
  font-weight: bold;
}
#typeLeft li.type-li.active::before {
  transform: rotate(90deg);
}
#typeLeft li.md-li {
  padding-left: 22px;
  position: relative;
}
#typeLeft li.md-li.active {
  background: #e1e1e1;
}
#typeLeft li.md-li.active > a {
  color: #333;
  font-weight: bold;
}
#typeLeft li.md-li.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  left: 0;
  background: #f2f2f2;
}
#typeLeft li.md-li .move-panel {
  display: none;
}
#typeLeft li.type-li, #typeLeft li.md-li {
  position: relative;
}
#typeLeft li.type-li .type-btns, #typeLeft li.md-li .type-btns {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  align-items: center;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  border-radius: 0.5em;
}
#typeLeft li.type-li .type-btns > a, #typeLeft li.md-li .type-btns > a {
  color: #d1d1d1;
  text-decoration: none;
  cursor: pointer;
}
#typeLeft li.type-li .type-btns > a:hover, #typeLeft li.md-li .type-btns > a:hover {
  color: #fff;
}
#typeLeft li.type-li:hover .type-btns, #typeLeft li.md-li:hover .type-btns {
  display: flex;
}
#typeLeft li > a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.7em 0.55em;
  cursor: pointer;
  box-sizing: border-box;
  color: #666;
  text-decoration: none;
}
#typeLeft li > a.li-title {
  flex: 1;
}
#typeLeft li .add-type {
  color: #333;
  cursor: pointer;
}
#typeLeft li .add-md {
  color: #333;
  cursor: pointer;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
#editRight {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.editormd-fullscreen {
  z-index: 10;
}

.drop-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: inline-block;
}
.drop-container .drop-panel {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 910;
  background: #f2f2f2;
  border-radius: 0.5em;
}
.drop-container .drop-panel > a {
  display: block;
  padding: 0.3em 0.5em;
}
.drop-container .drop-panel > a:hover {
  background: #ccc;
}

.dashboard {
  position: relative;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
}
@media (max-width: 48em) {
  .dashboard {
    padding: 1em;
  }
}
.dashboard-title {
  font-size: 20px;
  font-weight: bold;
}
.dashboard-cards {
  margin-top: 2em;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 3px 3px #f2f2f2;
  text-align: center;
  display: flex;
}
@media (max-width: 48em) {
  .dashboard-cards {
    display: block;
  }
}
.dashboard-cards > .card-item {
  width: 16em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #f2f2f2;
}
@media (max-width: 48em) {
  .dashboard-cards > .card-item {
    border-right: none;
    padding-right: 0;
    width: auto;
  }
}
@media (max-width: 48em) {
  .dashboard-cards .card-item {
    padding: 1em 0;
  }
}
.dashboard-cards .card-item > div:first-child {
  font-size: 17px;
  font-weight: bold;
}
.dashboard-cards .card-item > div:last-child {
  color: #666;
  margin-top: 1em;
}
.dashboard-cards .card-infos {
  display: flex;
  flex: 1;
}
@media (max-width: 48em) {
  .dashboard-cards .card-infos {
    display: block;
  }
}
.dashboard-cards .card-infos .card-item {
  flex: 1;
}
.dashboard-cards .card-infos .card-item:not(:last-child) {
  border-right: 1px solid #f2f2f2;
}
@media (max-width: 48em) {
  .dashboard-cards .card-infos .card-item:not(:last-child) {
    border-right: none;
  }
}
.dashboard-cards .card-infos .card-item > div {
  text-align: center;
}
.dashboard-charts {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-charts > div {
  width: calc(50% - 1em);
  height: 380px;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 3px 3px #f2f2f2;
  box-sizing: border-box;
  margin-top: 2em;
}
@media (max-width: 48em) {
  .dashboard-charts > div {
    width: 100%;
    height: 380px;
    padding: 0.5em;
  }
}
.dashboard-charts > div:nth-child(2n) {
  margin-left: 2em;
}
@media (max-width: 48em) {
  .dashboard-charts > div:nth-child(2n) {
    margin-left: 0;
  }
}

.common-filepond {
  height: fit-content;
}
.common-filepond .filepond--drop-label {
  height: 300px !important;
}