#app {
  background: #fff !important;
}

.manager-content {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 2em;
  flex-wrap: wrap;
}

@media (max-width: 48em) {
  .manager-content {
    width: 100%;
  }
}
.tab-container {
  border-bottom: 1px solid #ccc;
  display: flex;
}
.tab-container > a {
  position: relative;
  display: block;
  margin-top: 16px;
  font-size: 15px;
  color: #333;
  padding: 10px 16px;
  cursor: pointer;
  color: #666;
}
.tab-container > a:hover {
  color: #333;
  font-weight: bold;
  background: #f2f2f2;
}
.tab-container > a.active {
  color: #333;
  font-weight: bold;
  background: #e2e2e2;
}
.tab-container > a.active::after {
  width: calc(100% - 32px);
}

.tab-forms .html-form {
  display: none;
}
.tab-forms .html-form.active {
  display: block;
}